/* TSOS.css */

#logo{
  width: 100%;
  height: 100px;
  background-color: white;
}

.normal_button{

  background-color: deepskyblue;
  border: 2px solid white;
  border-radius: 5px;
  margin: auto;
  text-decoration: white;
  height: 50px;
  width: 100px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background: #909193 url(distrib/images/coloreddonuts.jpg) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: pink;
  border: 4px solid white;
  cursor: default;
  font-family: "Comic Sans MS";
}


#divButtonBar{

}

.error{
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#taskBar {
  border: 4px solid deeppink;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 500px;
  position: relative;
  bottom: 10px;
  left: 10px;
  padding: auto;
  background-color: white;
}

p1{
  font-family: "Comic Sans MS";
  font-size: 18px;
}

td {
  text-align: center;
}

#cpuDisplay{
  border: 3px solid purple;
  border-radius: 4px;
  background-color: white;
  width: 600px;
  text-align: center;

}

#pcbDisplay{
  margin-top: 50px;
  border: 3px solid purple;
  border-radius: 4px;
  background-color: white;
  width: 600px;
  text-align: center;

}

#memDisplay{
  margin-top: 50px;
  border: 3px solid purple;
  border-radius: 4px;
  height: 300px;
  overflow: auto;
  background-color: white;
  width: 600px;
  text-align: center;

}

#diskDisplay{
  border: 3px solid coral;
  border-radius: 4px;
  background-color: white;
  overflow: auto;;
  text-align: center;
  width: 500px;
  height: 300px;
  margin: auto;
}

.tableId{
  border-bottom: 3px solid purple;
}

.diskTableId{
  border-bottom: 3px solid coral;
}

.table{

}
