/* TSOS.css */

#logo{
  width: 100%;
  height: 100px;
  background-color: white;
}

#row1{
  width: 100%;
  overflow: hidden;
}

#row2{
  width: 100%;
  overflow: hidden;
}

#info{
  width: 33%;
  float: left;

}

#divConsole{

  width: 33%;
  float: left;

}

#programDisplays{


  width: 33%;
  float: left;

}



.normal_button{

  background-color: deepskyblue;
  border: 2px solid white;
  border-radius: 5px;
  margin: auto;
  text-decoration: white;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right{

  display: block;
  margin-left: 50%;
  margin-right: auto;
  width: 50%;

}

.left{

  float: left;

}


body {
  background: #909193 url(distrib/images/coloreddonuts.jpg) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: pink;
  border: 4px solid white;
  cursor: default;
}

#taskBar{
  overflow: hidden;
  height: 50px;

}

#divButtonBar{
  width: 50%;
  float: left;
}

.error{
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.task {
  border: 4px solid deeppink;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 400px;
  position: relative;
  bottom: 10px;
  left: 10px;
  padding: auto;
  background-color: white;
}

td {

  text-align: center;

}

#cpuDisplay{
  margin: 50px;
  border: 3px solid purple;
  border-radius: 4px;
  background-color: white;
  width: 80%;
  text-align: center;

}

#pcbDisplay{

  margin: 50px;
  border: 3px solid purple;
  border-radius: 4px;
  background-color: white;
  width: 80%;
  text-align: center;

}

#memDisplay{
  margin: 50px;
  border: 3px solid purple;
  border-radius: 4px;
  height: 100px;
  overflow: auto;
  background-color: white;
  width: 80%;
  text-align: center;

}

.tableId{
  border-bottom: 3px solid purple;
}

.table{

}
